body {
    width: 90%;
    margin: 10vw auto;
    background-color: rgb(255, 255, 255);
} 

.head h1{
    position: relative;
    color: #DB7093;
    font-family: 'Vidaloka', serif;
    font-size: 6vw;
    width: 40%;
}

.link-group {
    position: absolute;
}

a {
    color: #DB7093;
    font-family: 'Vidaloka', serif;
    font-size: 2vw;
    text-decoration: none;
    padding: 25px;
}

.underline--magical {
    background-image: linear-gradient(120deg, #86bbbd 0%, #86bbbd 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
  .underline--magical:hover {
    background-size: 100% 88%;
  }
