body {
    width: 90%;
    margin: 10vw auto;
    background-color: #533747;
}

.heading {
    color: #86bbbd;
    font-family: 'Vidaloka', serif;
    font-size: 8vw;
}

p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    line-height: 1.5;
}

a {
    color: #ffffff;
    font-family: 'Vidaloka', serif;
    font-size: 2vw;
    text-decoration: none;
    padding: 100px;
}

.underline--magical {
    background-image: linear-gradient(120deg, #86bbbd 0%, #86bbbd 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }
  .underline--magical:hover {
    background-size: 100% 88%;
  }
