body {
    width: 90%;
    margin: 10vw auto;
    background-color: #ffffff;
} 

.container {
    display: flex;
    flex-direction: row;
}

.header h1{
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 6vw;
    width: 50%;
    margin-bottom: 2%;
}

img {
    position: absolute;
    right: 30%;
    bottom: 45%;
    width: 25%;
    height: auto;
    border-radius: 100%;
}


a {
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    text-decoration: none;
    padding: 25px;
}

a:hover {
    color: #DB7093;
}
